<!DOCTYPE html>
<html> 
	<head>
		<link rel = "stylesheet" href = "../../styles/style.css">
		<link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap" rel="stylesheet">

		<title>
			OLEGO - Book and Fly
		</title>
	</head>
	<body>
		<div class = "header">
			<span class ="line">	
				<h1 class = "logo">OLEGO</h1>
				<a href ="">Flights</a>
				<a href ="">Hotels </a>
				<p>USD</p>
				<p>Log In</p>
			</span>	
		<div class="book">
			<h1>Book your Travel</h1>
		</div>
		</div>
	</body>
</html>