<!DOCTYPE html>
<html> 
	<head>
		<link rel = "stylesheet" href = "../../styles/style.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap" rel="stylesheet">

		<title>
			OLEGO - Book and Fly
		</title>
	</head>
	<body>
		<header>
			<span class ="line">	
				<h1 class = "logo">OLEGO</h1>
				<a href ="">Flights</a>
				<a href ="">Hotels </a>
				<span class="header__right">
					
					<div class="menu-item">
						USD</div>
					<div class="menu-item">
						Support 24/7
					</div>
				</span>
				<div class="log_in">
					<!-- <img src = "src/assets/Frame 3.svg" alt = "log_in"> -->
				</div>
			</span>	
			<div class="book">
				<h1>Book your Travel</h1>
			</div>
		</header>
	</body>
</html>





