/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body {
  font-family: "Kumbh Sans", sans-serif;
}

.background__photo{
    background-image: url("C:\Users\oleg.rune\Desktop\booking_tickets\booking_ticket_olego\src\assets\back.avif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    width: 100%;

}

header{
    display: flex;
    justify-content: space-between;
    padding: 32px 48px;
}

.logo{
    /* margin-left: 102px; */
    /* margin-top:  -27px; */
    color: white;
    font-size: 40px;
    font-weight: 900;
    line-height: 40px;
    height: 40px;
    width: 320px;
    transition: all 0.3s ease;
}

.logo:hover{
    transition: all 0.3s ease;
    color: #00B7B9;
    letter-spacing: 5px;
    font-size: 42px;
}


.main_menu{
    display: flex;
    gap: 32px;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
}

.main_menu a{
    color: white;
    transition: all 0.3s ease;
    cursor: pointer;
    font-size: 16px;
}

.main_menu a:hover{
    color: #ffc8c8;
    transform: translateY(-4px);
    font-size: 20px;
}

.book  h1{
    text-align: center;
    margin-top: 88px;
    font-size: 64px;
    font-weight: 800;
    color: white;
}

.log_in{
    background-color:#00B7B9;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 12px;
    padding-left: 0px;
    gap: 8px;
}

.menu_avatar {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    margin-left: 8px;
    background-color: white;
    padding: 2px;
}

.menu_icon{
    height: 24px;
    width: 24px;
}

.header__right{
    justify-content: space-between;
    display: flex;
    gap: 24px;
}

.menu-item{
    color:rgb(255, 255, 255);
    height: 20px;
    font-size: 16px;
    padding: 10px;
    border-radius: 24px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: 600;
} 
.menu-item:hover{
    color:black;
    background-color: #f1e9ff;
    transform: translateY(-4px);
}

a{
    text-decoration: none;
}

.trip_type{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 40px;
    font-size: 20px;
    margin-left: 600px;
    margin-right: 600px;

}

.blur_container{
    display: flex;
    justify-content: center;
    gap: 40px;
    backdrop-filter: blur(4px);
    padding: 16px 32px;
    border-radius: 48px;
    background-color: rgba(255, 255, 255, 0.1);
    height: 20px;
}

.tab_default {
    font-weight: 700;
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 16px;
}

.tab_default:hover{
    transition: all 0.3s ease;
    transform: translateY(-4px);
    border-bottom-width: 2px;
    display: inline-block;
    border-bottom-style: solid;
    font-size: 18px;

}

.tab_active{
    font-size: 18px;
    font-weight: 900;
    color:white;
}

.tab_active:hover{
    transition: all 0.3s ease;
    font-size: 18px;
}
.main_form{
    backdrop-filter: blur(8px);
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 40px;
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 8px;
    margin-right: 300px;
    margin-left:  300px;
    align-items: center;
    border-radius: 48px;
}

#input_field{
    /* backdrop-filter: blur(8px);
    background-color: rgba(255, 255, 255, 0.2); */
    width: 200px;
    height: 48px;
    border: 1px solid #ffffff;
    border-radius: 32px;
    padding-left: 16px;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    transition: all 0.3s ease;
    cursor: pointer;
    flex: 1;
}

#input_field:hover{
        border: 1px solid #c6c5c5;
}

.input_field{
    width: 200px;
    height: 48px;
    border: 1px solid #ffffff;
    border-radius: 32px;
    padding-left: 16px;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    transition: all 0.3s ease;
    cursor: pointer;
    flex: 1;
}

.input_field:hover{
        border: 1px solid #c6c5c5;
}


.search_flights{
    width: 100px;
    height: 48px;
    background-color: #00999c;
    border-radius: 32px;
    border: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

.search_flights:hover{
    background-color: #00B7B9;
    transform: translateY(-4px);
}

.line_one{
    height: 24px;
    border-left: 1px solid #c6c5c5;
    margin-top: 12px;
}

.text_recent{
    font-size: 36px;
    color: #8f5de9;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 120px;
}

.recent_boxes{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.search_box{
    display: flex;
    justify-content: center;
    width: 250px;
    height: 200px;
    border-radius: 40px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-size: 24px;
    text-align: center;
    align-items: center;
    font-weight: 700;
    transition: all 0.3s ease;
}

.search_box:nth-child(1){
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTliFwZBd6VXoobgMVWE0IyzPo-gakfRXF29w&s");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    opacity: 0.8;
}

.search_box:nth-child(2){
    background-image: url("https://www.newyorkwelcome.net/kimg/1200/good-to-know-before-you-travel-to-nyc.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    opacity: 0.8;
}

.search_box:nth-child(3){
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS8T65Uo1laywFZIqKM3sspog91cu5LF-fT8g&s");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    opacity: 0.8;
}

.search_box:hover{
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    transform: translateY(-4px);
    opacity: 1;
}

